@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-gray-100 antialiased overflow-x-hidden;
  }

  img {
    @apply block max-w-full object-cover object-center;
    height: auto;
  }
}
